.page-header{
  margin-bottom: 60px;
}

.logo-container{
  display: block;
  margin-bottom: 30px;
}
.logo{
  display: block;
  height: 78px;
  width: 78px;
  padding-top: 20px;
  margin: auto;
  text-align: center;
  font-family: "Dorsa";
  font-size: 32px;
  color: black;
  background-image: url(../img/logo.png);
  background-size: cover;
}
.header-menu{
  margin: auto;
  width: 240px;
}
.header-menu {
  font-size: 0px;
}
.header-menu-item{
  display: inline-block;
  height: 40px;
  width: 80px;
  align-items: center;

}
.header-menu-link{
  text-transform: uppercase;
  font-family: "Pathway Gothic One";
  font-size: 20px;
  color: white;
}
.header-menu-link:hover{
  color: black;
}
