.page-header{
}

.logo-container{
  display: block;
  margin-bottom: 30px;
}
.logo{
  display: block;
  width: 100px;
  padding: 30px 20px;
  margin: auto;
  text-align: center;
  font-family: "Dorsa";
  font-size: 40px;
  color: black;
  border-radius: 50%;
  background-color: white;
}
.header-menu{
  margin: auto;
  width: 300px;
  text-align: center;
}
.header-menu {
  font-size: 0px;
}
.header-menu-item{
  display: inline-block;
  height: 40px;
  width: 100px;
  align-items: center;

}
.header-menu-link{
  text-transform: uppercase;
  font-family: "Pathway Gothic One";
  font-size: 24px;
  color: white;
}
.header-menu-link:hover{
  color: black;
}
